.slogan{
    margin: 130px;
}
.slogan p {
    line-height: 7px;
}
.slogan h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 30px;
}

.first-item{
    width:90%;
    margin-left: 40px;
}

.req-demo{
    margin-top: 50px;
    border-color: #9D0AFF;
    width: 126.55px;
    height: 48.8px;
    color: white;
    background: #9D0AFF;
    border-radius: 16px;
}

.trusted{
    margin-top: 100px;
    color: rgba(21, 21, 49, 0.6);
}

.overview{
    border: none;
    height: 400px ;
    width: 800px;
    border-radius: 16px;
    background-color: #151531;
}

.overview-h{
    padding-top: 50px;
    /* margin-top:  100px; */
    
}
.overview h1{
    color: white;
    line-height:20px;
}

.overview-p{
    font-size: 15px;
    line-height: 5px;
    margin-top: 40px;
    color:white;
}


.overview-items{
    display: flex;
    margin-top: 60px;
    margin-right: 150px;
    margin-left: 150px;
    background: rgba(255, 250, 255, 0.1);
    border-radius: 30px;
}

.overview-box1{
    flex: 1;
}
.overview-box2{
    flex: 1;
}
.overview-box3{
    flex: 1;
}

.pp{
    color: rgba(255, 250, 255, 0.8);
}

.ptick-wrapper{
    margin: 100px;
    display: flex;
}
.ptick-box{
    margin-left: 40px;
}
.gtick-wrapper{
    margin: 100px;
    display: flex;
}
.gtick-box{
    margin-left: 30px;
}